<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>776430906609-cgouisceuqr1hl9ef0ogdkoc2p9o8pka.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.776430906609-cgouisceuqr1hl9ef0ogdkoc2p9o8pka</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>776430906609-4ajtiptrba67hdt7q567g2ivd604ifjv.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyAwJzDXkPBn6j1sNEH-vjyqBj-w9dpUCFg</string>
	<key>GCM_SENDER_ID</key>
	<string>776430906609</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>cc.shapp.shapp</string>
	<key>PROJECT_ID</key>
	<string>shapp-289309</string>
	<key>STORAGE_BUCKET</key>
	<string>shapp-289309.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:776430906609:ios:ec1cc0391a83040fcd0d50</string>
	<key>DATABASE_URL</key>
	<string>https://shapp-289309.firebaseio.com</string>
</dict>
</plist>